<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tablon de usuarios</title>
        <link rel="shortcut icon" href="https://www.manualweb.net/img/logos/xml.png"> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            ul {
                list-style-type: none; 
                padding: 0; 
            }
        </style>
    </head>
    <body>
        <h1> Tablon de anuncios</h1>
        <div>Bienvenidos!</div>

        <ul>
            <!-- Iterar sobre los anuncios -->
            <li th:each="anuncios : ${anuncios}">
                <!-- Mostrar solo el nombre y el asunto -->
                <li th:each="anuncios : ${anuncios}">
                    <a th:href="@{/show/{id}(id=${anuncios.id})}">
                        <p th:text="${anuncios.nombre + ' ' + anuncios.asunto}"></p>
                    </a>
                </li>
                
                
            </li>
        </ul>





        <a href="/new"> Nuevo Anuncio</a>
<br>
<br>
<br>

<br>
<br>
<br>
        <a href="/Sexo"> Mostrar todos los anuncios </a>





    </body>
</html>
